# Node modules
node_modules/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# dotenv
.env.local
.env*

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pkl

# Virtualenv
venv/
.env/
.venv/

# OS junk
.DS_Store

# VS Code
.vscode/
